html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header-wrapper{
  padding:0;
}
.tabs > div{
  white-space: normal !important;
}
.card{
  height:300px;
  margin: 10px 0;
  .card-img{
    > div{
      height:300px;
      overflow: hidden;
      img{
        height:100%;
      }
    }
  }
  .add-cart{
    position: absolute !important;
    top: 10px !important;
    right: 0 !important;
  }
}
@media screen and (min-width: 1681px){
  .card{
    height:400px;
    .card-img{
      > div{
        height:400px;
      }
    }
  }
}
@media screen and (max-width: 991px){
  .card{
    height:500px;
    .card-img{
      > div{
        height:500px;
      }
    }
  }
  .tabs{
    > div{
      display:block !important;
      white-space: nowrap !important;
      overflow-x: auto !important;
      button{
        width: auto !important;
        font-size: 24px !important;
        padding: 0 50px !important;
        position: relative !important;
        overflow: hidden;
        &:after{
          content:'';
          position: absolute;
          left:0;
          right:0;
          height:5px;
          bottom:-5px;
          background: red;
          transition: bottom 0.3s;
        }
        >div{
          >div{
            height:90px !important;
          }
        }
        &.active{
          &:after{
            bottom: 0;
          }
        }
      }
    }
    div:nth-child(2){
      div{
        height: 0px !important;
      }
    }
  }
  .header-wrapper{
    > div{
      button{
        margin-top:18px !important;
        svg{
          height:32px !important;
          width: 32px !important;
        }
      }
       > div{
        margin-top:18px !important;
        button{
          margin-top: 0 !important;
          svg{
            height:32px !important;
            width: 32px !important;
          }
        }
      }
      h1{
        height: 90px !important;
        line-height: 90px !important;
        font-size: 32px !important;
      }
    }
  }
}

@media screen and (max-width: 767px){
  .card{
    height:600px;
    .card-img{
      > div{
        height:600px;
      }
    }
  }
}
